*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: greenyellow;
    width: 100vw;
    height: 100vh;
    padding: 50px 20px 20px 20px;
}
.container{
    background-color: yellow;
    max-width: 600px;
    margin: auto;
    border-radius: 15px;
    padding: 15px;
}
.mid{
    display: flex;
    justify-content: space-around;
}

.b1{
    max-width: 200px;
    max-height: 200px;
    background-color: rgb(255, 159, 207);
    font-size: 118px;
    text-align: center;
    border-radius: 15px;
    padding: 15px;

}

.top{
    margin-bottom: 20px;
    text-align: center;
}
.set{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 17px;

    left: 151px;
}

.b2{
    max-width: 200px;
    max-height: 200px;
    background-color: rgb(255, 159, 207);
    font-size: 103px;
    text-align: center;
    border-radius: 15px;
    padding: 15px;
 
}
button{
    margin-top: 15px;
    padding: 10px 15px;
}
.bottom{
    display: flex;
    justify-content: center;
}

.dis{
    margin-top: 7px;
    height: 30px;
    color: rgb(189, 189, 0);
    text-align: center;
}

#tim{
    margin-left: 5px;
}

@media screen and (max-width : 500px) {

    .b1{
    margin-right: 10px;
    max-width: 150px;
    max-height: 150px;
    font-size: 100px;
    }

    .b2{
        margin-left: 10px;
        max-width: 150px;
    max-height: 150px;
    font-size: 90px;
    }
}